.no-border-inputs {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}


.review-field{
    height:50px;
    background-color: white;
    margin: 4px;
    max-width: 160px;
}

.quote-review-form{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.bottom-section{
    margin-top: 30px;
}