.time {
    width: 155px;
    padding-right:10px!important;
    padding-bottom: 10px!important;
    padding-top: 5px!important;
    margin-top:7px!important;
 }
 
 .header-time {
     margin-bottom:1px!important;
     margin-top:25px!important;
     padding-left:0px;
     padding-bottom:0px;
 }
 