
    <% include ../static/partials/head.ejs %>

    <% include ../static/partials/navbar.ejs %>

  

        <header class="jumbotron my-4">

            <h1>Edit Level</h1>
            <form action="/levels/<%= level.id %>/update" method="post">
              <div class="form-group">
                <label for="title">Level title</label>
                <input value="<%= level.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
                <small class="text-muted" id="titleHelp">Title must be 5 or more characters in length.</small>
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input value="<%= level.price %>" rows="4" class="form-control" name="price" placeholder="Enter Price"></input>
                  <small class="text-muted" id="bodyHelp">Price must be 10 or more characters in length.</small>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>

          
            <hr>

        </header>
      <% include ../static/partials/messages.ejs %>

    <% include ../static/partials/baseScripts.ejs %>

