<% include ../static/partials/head.ejs  %>
    <% include ../static/partials/navbar.ejs %>  

        <header class="jumbotron my-4">
            <div class="container-fluid">
                <div class="text-center">
                  <h1>Log In</h1>
                </div>
                <% include signinForm.ejs %>
            </div>
        </header>
    
  <% include ../static/partials/baseScripts.ejs %>
<% include ../static/partials/footer.ejs %>