<form method="POST" action="/users" >
    <div class="form-group">
        <label for="email">
          <p class="label-txt">ENTER YOUR EMAIL</p>
          <input type="email" class="input" name="email" aria-describedby="emailHelp" placeholder="">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label for="firstname">
            <p class="label-txt">ENTER YOUR FIRST NAME</p>
            <input type="text" class="input" name="firstname" aria-describedby="textHelp" placeholder="">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>

          <label for="lastname">
              <p class="label-txt">ENTER YOUR LAST NAME</p>
              <input type="text" class="input" name="lastname" aria-describedby="textHelp" placeholder="">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>

            <label for="password">
              <p class="label-txt">ENTER YOUR PASSWORD</p>
              <input type="password" class="input" name="password" aria-describedby="passwordHelp" placeholder="">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>

            <label for="password">
                <p class="label-txt">RE-ENTER YOUR PASSWORD</p>
                <input type="password" class="input" name="passwordconfirmation" aria-describedby="passwordHelp" placeholder="">
                <div class="line-box">
                  <div class="line"></div>
                </div>
              </label>
            <button type="submit">submit</button>
        </div>
        <div class="text-center p-t-136">
            <form>
                <div>Already have an account?</div>
                <a class="txt2" href="../users/signin">
                    Sign in
                </a>
            </form>
        </div>
    </form>